<div class="container-fluid p-0">
<nav class="navbar navbar-dark navbar-expand-lg border border-dark" style="background-color: #dc3545;">
        <span class="navbar-brand">Pokémons</span>
        <a class="navbar-brand" [routerLink]="['/pokemons']" routerLinkActive="router-link-active" class="mx-4"><img class="img1" alt="pokeball" src="../../assets/imgs/pokeball.png"></a>
        <a class="navbar-brand" [routerLink]="['/types']">Tipos</a>
        <a id="tipoPokemon" class="navbar-brand" [routerLink]="['/fight']" class="mx-4"><img class="img2" alt="fight" src="../../assets/imgs/battle.png"></a>
      </nav>
    </div>
