<h1 class="text-center mt-3">Lista de pokemons</h1>
<div class="row mt-3">
    <ul *ngFor="let pokemon of pokemons">
        <div class="col-4">
        <li class="w-100">
            <button class="btn btn-outline-success"
                [title]="'Detalhes de '+ pokemon.name"
                [routerLink]="['/pokemons', pokemon.url.split('/')[6]]">
                {{pokemon.name}}
            </button>
        </li>
    </div>
    </ul>
</div>
    <div class="row">
        <div class="col-6 d-flex justify-content-end">
            <button (click)="getPokemonsPreviousNext(false);" class="btn btn-primary">Previous</button>
        </div>
        <div class="col-6 d-flex justify-content-start">
            <button (click)="getPokemonsPreviousNext(true);" name class="btn btn-primary">Next</button>
        </div>
    </div>
