<div *ngIf="pokemon">
    <h1 class="text-center mt-3" style="color: #dc3545">Detalhes do {{pokemon.forms[0].name}}</h1>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-3">
            <table>
                <tr>
                    <th class="text-center" colspan="2" style="color: #dc3545">Imagens</th>
                </tr>
                <tr>
                    <td><img src="{{pokemon.sprites.front_default}}"/></td>
                    <td><img src="{{pokemon.sprites.front_shiny}}"/></td>
                </tr>
                <tr>
                    <td class="text-center" style="color: #dc3545"><p>Default</p></td>
                    <td class="text-center" style="color: #dc3545"><p>Shiny</p></td>
                </tr>
            </table>
        </div>

    <div class="col-3">
        <p style="font-size: 14px;" class="text-center font-weight-bold" style="color: #dc3545">Habilidades</p>
        <div class="row d-flex justify-content-center my-3">
            <div *ngFor="let ability of abilities">
                <div class="col-4" style="color: #dc3545">
                    <p>{{ability.ability.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <p style="font-size: 14px;" class="text-center font-weight-bold" style="color: #dc3545">Tipo</p>
        <div class="row d-flex justify-content-center">
            <div *ngFor="let type of types">
                <div class="col-4" style="color: #dc3545">
                    <p>{{type.type.name}}</p>
                </div>
            </div>
        </div> 
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-3">
            <button class="btn btn-primary btn-block mt-4" [routerLink]="['/pokemons']">Voltar</button>
    </div>
</div>
